@import "../_font.scss";


// MediaQuery der Szene bei 1280x600
@mixin mediaQueryByLabtop {
    @media ( max-width: 1280px ) {
        top: 20%;
    }
} 


html {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 300vh;

    ::-webkit-scrollbar {
        width: 1px;
    }
    
    ::-webkit-scrollbar-track {        
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);    
    }
    
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }

}

#container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    #background {
        top: 30%;
        left: 25%;
        width: 50%;
        position: fixed;
        z-index: 0;
        @include mediaQueryByLabtop;
    }

    #rahmen {
        top: 30%;
        left: 25%;
        width: 50.1%;
        position: fixed;
        z-index: 3;
        @include mediaQueryByLabtop;
    }

    #text {
        display:none;
        color: white;
        position: fixed;
        font-size:$szeneTextFontSize;
        top: 22%;
        font-family: $szeneTextFont;
        @media ( max-width: 1280px ) {
            top: 15%;
        }
    }

   
}


#timeBar {
    background-color: rgba(116, 116, 116, 0.212);
    width: 6px;
    height: 45%;
    position: absolute;
    left: 17%;
    top: 34%;
    border-radius: 10px;
    position: fixed;
    overflow: hidden;
    
    @media ( max-width: 1441px ) {
        top: 31%;
    }
    
    @media ( max-width: 1366px ) {
        top: 31%;
        height: 41%;
    }

    @media ( max-width: 1092px ) {
        top: 31%;
        height: 33%;
    }

    @media ( max-width: 860px ) {
        top: 31%;
        height: 25%;
    }

    @media ( max-width: 1280px ) {
        top: 26%;
        height: 49%;
    }
    
    #progBar {
        width: 100%;
        height:0%;
        background-color: rgba(114, 114, 114, 0.383);
    }
}

@keyframes fillTimeBar {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
    
}



#nextBt{
    position: fixed; 
    width: 4%;
    top:50%;
    z-index: 4;
    opacity: 0;
}

#backBt{
    position: fixed; 
    width: 4%;
    left: 20px;
    top:50%;
    z-index: 4;
    display: none;
    opacity: 0.3;
    
}


.hide{
    opacity: 0;
}
