@import "../_font.scss";
@import "../navigationStyle";

html {
    background-color: $szeneBackgroundColor;
    
    
    box-sizing: border-box;
    height: 300vh;
    
    ::-webkit-scrollbar {
         width: 1px;
     }
    ::-webkit-scrollbar-track {        
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);    
     }
    ::-webkit-scrollbar-thumb {
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
     }
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #navigation {
        display: flex;
        justify-content:space-between;
        position: fixed;

        
        background-color: $szeneBackgroundColor;

        width: $width;
        height: auto;
        align-self: flex-end;
        margin-right: $marginTop;
        margin-top: $marginTop;

        @media ( max-width: 1280px ) {
            width: 26%;
            margin-right: 3%;
            margin-top: 3%;
        }
        
        #linkToFirstPage {
            font-size: 1.2em;
            width: auto;

            text-decoration: none;
            color: inherit;
            font-family: $kartenAnsichtFont;

            &:active {
                color: inherit;
            }

            @media ( max-width: 1280px ) {
                font-size: 1em;
            }
        }
        
        img {
            width: 100%;

        @media ( max-width: 1280px ) {
            width: 70%;
            }
        }
    }

    #text {
        display:none;
        color: $szeneTextFontColor;
        position: fixed;
        font-size: $szeneTextFontSize + 0.1;
        top: 20%;
        width: 58%;
        font-family: $szeneTextFont;
        text-align: center;

        /* Landscape phones and down */
        @media (max-width: 480px) { 
            top: 21%;
        }

        /* Landscape phone to portrait tablet */
        @media (max-width: 640px) { 
            top: 23%;
        }

        @media (max-width: 731px) { 
            top: 21%;
        }

        @media (max-width: 800px) { 
            top: 19%;
        }

        @media (max-width: 1200px) { 
            top: 19%;
        }

        @media ( max-width: 1280px ) {
            width: 58%;
            top: 18%;
            font-size: $szeneTextFontSize + 0.3;
            
        }
    }
}

.background {
    img {
        top: 30%;
        left: 15%;
        width: 70%;
        position: fixed;
        z-index: 0;
        
        
    }
}

.zugHinten {
    img {
        top: 26%;
        left: -10%;
        width: 70%;
        position: fixed;
        z-index: 1;
        
        
    }
}

.zugVorne {
    img{
        top: 45%;
        left: 64%;
        width: 15%;
        position: fixed;
        z-index: 2;
        
    }
}

.diallo{
    img{
        top: 30%;
        left: 15%;
        width: 70%;
        position: fixed;
        z-index: 3;
        
    }
}

.rahmen{
    img{
        top: 15%;
        left: -55%;
        width: 70%;
        position: fixed;
        z-index: 3;
        
    }
}

.rahmen2{
    img{
        top: 15%;
        left: 85%;
        width: 70%;
        position: fixed;
        z-index: 3;
        
    }
}

#echteRahmen {
    width: 70.1%;
    top: 30%;
    left: 15%;
    position: fixed;
    z-index: 3;
    @media ( max-width: 1280px ) {
        width: 72%;
    }
}


#timeBar {
    background-color: rgba(116, 116, 116, 0.212);
    width: 6px;
    height: 41%;
    left: 10%;
    top: 33%;
    border-radius: 10px;
    position: fixed;
    overflow: hidden;
    z-index: 5;

    @media ( max-width: 1440px ) {
        top: 32%;
        height: 37%;
    }
    
    @media ( max-width: 1366px ) {
        top: 30%;
        height: 35%;
    }

    @media ( max-width: 1280px ) {
        top: 33%;
        height: 46%;
    }

    @media ( max-width: 1092px ) {
        top: 31%;
        height: 28%;
    }

    @media ( max-width: 860px ) {
        top: 31%;
        height: 22%;
    }
 
    
    #progBar {
        width: 100%;
        height:0%;
        background-color: rgba(114, 114, 114, 0.383);
    }
}

@keyframes fillTimeBar {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
    
}

#soundIcon {
    width: 2%;
    position: fixed;
    left: 7%;
    top: 48.4%;
    opacity: $iconOppacity;
    z-index: 5;
}


#scrollGif{
    position: fixed; 
    width: 4%;
    top:47%;
    left: 87%;
    z-index: 4;
    opacity: $iconOppacity;
}

#nextBt{
    position: fixed; 
    width: 3%;
    top:47.4%;
    right: 20px;
    z-index: 4;
    display: none;
    opacity: 0.9;
}

#backBt{
    position: fixed; 
        width: 3%;
        left: 20px;
        top:47.4%;
        z-index: 4;
        display: none;
        opacity: 0.9;
        
}

.hide{
    opacity: 0;
}