* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


 html{
    width: 100%;
    height: 500vh;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 1px;
    }
    
    ::-webkit-scrollbar-track {        
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);    
    }
    
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }

    body{
        background-color: black;
        .background{

            #backgroundIMG {
    
                left: 10%;
                top: 30%;
                width: 100%;
                z-index: 2;
                position: fixed;
                
            }
        }
        
        .boot{
    
            #bootIMG {
                left: 0%;
                top: 30%;
                width: 80%;
                z-index: 2;
                position: fixed;
                
              }
        }


        

        .balkenLinks {
            img{
                left: -65%;
                top: 30%;
                width: 80%;
                z-index: 3;
                position: fixed;
            }
        }

        .balkenRechts {
            img{
                left: 85%;
                top: 30%;
                width: 80%;
                z-index: 3;
                position: fixed;
            }
        }
    
        a {
            img{
                position: fixed; 
                width: 6%;
                top:50%;
                z-index: 4;
                opacity: 0;
            }
        }
        
        .hide{
            opacity: 0;
        }
    }
}


