@import "../_font.scss";

html {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 300vh;
    
     ::-webkit-scrollbar {
         width: 1px;
     }
     ::-webkit-scrollbar-track {        
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);    
     }
     ::-webkit-scrollbar-thumb {
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
     }
}



#main {

    display: flex;
    justify-content: center;
    align-items: center;
    
    #zeichnungenContainer {
        #background {
            top: 30%;
            left: 20%;
            width: 60%;
            position: fixed;
            z-index: 0;
           
            
        }
    
        #crowd {
                top: 30%;
                left: 20%;
                width: 60%;
                position: fixed;
                z-index: 1;
        }
    
    
    
        #soldier1 {
                top: 30%;
                left: 20%;
                width: 60%;
                position: fixed;
                z-index: 2;
        }
    
        #soldier2 {
                top: 30%;
                left: 20%;
                width: 60%;
                position: fixed;
                z-index: 3;
        }
    
        #rahmen {
                top: 30%;
                left: 20%;
                width: 60%;
                position: fixed;
                z-index: 4;

                
        }

        #rahmen2   {
            top: 30%;
            left: 20%;
            width: 60%;
            position: fixed;
            z-index: 4;
        }
    
    }

    #text {
        display:none;
        color: white;
        position: fixed;
        font-size: $szeneTextFontSize;
        left: 35%;
        top: 14%;
        width: 34%;
        font-family: $szeneTextFont;

        /* Landscape phones and down */
        @media (max-width: 480px) { 
            top: 21%;
        }

        /* Landscape phone to portrait tablet */
        @media (max-width: 640px) { 
            top: 23%;
        }

        @media (max-width: 731px) { 
            top: 21%;
        }

        @media (max-width: 800px) { 
            top: 19%;
        }

        @media (max-width: 1200px) { 
            top: 19%;
        }

        a {
          text-decoration: none;  
        }
        a:visited {
            text-decoration: none;
            color: inherit;
        }
        a:hover {
            color: rgb(211, 83, 44);  
          }
    }

    #timeBar {
        background-color: rgba(116, 116, 116, 0.212);
        width: 6px;
        height: 46%;
        position: absolute;
        left: 15%;
        top: 39%;
        border-radius: 10px;
        position: fixed;
        overflow: hidden;

        @media ( max-width: 1441px ) {
            top: 35%;
            height: 380px;
        }
        
        @media ( max-width: 1366px ) {
            top: 29%;
            height: 400px;
        }

        @media ( max-width: 1092px ) {
            top: 33%;
            height: 300px;
        }

        @media ( max-width: 860px ) {
            top: 33%;
            height: 250px;
        }
     
        
        #progBar {
            width: 100%;
            height:0%;
            background-color: rgba(114, 114, 114, 0.383);
        }
    }

    @keyframes fillTimeBar {
        0% {
            height: 0;
        }

        100% {
            height: 100%;
        }
        
    }
}

#nextBt{
        position: fixed; 
        width: 4%;
        top:50%;
        z-index: 4;
        opacity: 0;
    }

#backBt{
    position: fixed; 
        width: 4%;
        left: 20px;
        top:50%;
        z-index: 4;
        display: none;
        opacity: 0.3;
        
}

.hide{
    opacity: 0;
}

