@import "../_font.scss";
@import "../scrollbar";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @include hideScrollBar;
  scroll-behavior: smooth;
}


#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  height: 100vh;
 
  #headLine{
    color: rgb(0, 0, 0);
    font-family: $startSeiteFont;
    width: 100%;
    font-size: calc(0.75em + 6vmin);
    margin: 0 80%;
    text-align: center;
  }


  #ueberProjekt {
    font-family: $startSeiteFont;
    text-align: center;
    font-weight: 300;
    margin: 0 10%;

    /* Small Screen */
    @media (min-width: 768px) {
      margin: 0 15%;
    }
    /* Medium Screen */
    @media (min-width: 992px) {
      margin: 0 20%;
    }
    /* Large Screen */
    @media (min-width: 1200px) {
      margin: 0 25%;
    }
    /* X Large Screen */
    @media (min-width: 1600px) {
      margin: -5% 33% 0 33%;
    }
    

  }

  #navigation {
    display: flex;
    justify-content:center;
    width: 100%;
    gap: 20px;

    a {
      border: 1.7px solid $szeneTextFontColor;
      border-radius: 7px;
      text-decoration: none;
      transition: .4s;

      &:active {
        color: inherit;
      }
      &:hover {
        transition: 0.2s ease-in;
        background-color: rgb(245, 195, 195);
      }
      
      div {
        position: relative;
        display: flex;
        margin: 1px 20px;
        gap: 2px;
        
        span {
          font-family: $startSeiteFont;
          color: $szeneTextFontColor;
        }
      }
    }
  }

  #teilnehmer {
      display: flex;
      justify-content: space-between;
      gap: 19px;
      font-family: $startSeiteFont;
      font-size: 1em;
      margin: 0 auto -3% auto;
      flex-wrap: wrap;

      /* Small Screen */
      @media (max-width: 768px) {
        margin:0 3%;
      }

      /* Large Screen */
      @media (min-width: 1500px) {
        gap: 50px;
      }

      span {
        font-weight: 500;
      }

      .listStyleNone {
        list-style: none;
        font-weight: 300;
      }
  }

  
  hr {
    width: 50%;
    height: 1px;
    background: black;
    margin-bottom: -25px;
    /* Small Screen */
    @media (max-width: 768px) {
      width: 70%;
    }
  }

  .logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

    .logoList {
      display: flex;
      flex-direction: row;
      justify-content:center;
      align-items: center;
      margin:0 2%;
  
      /* Small Screen */
      @media (min-width: 768px) {
        margin:0 10%;
      }
      /* Medium Screen */
      @media (min-width: 992px) {
        margin:0 15%;
      }
      /* Large Screen */
      @media (min-width: 1200px) {
        margin:0 20%;
      }
      /* X Large Screen */
      @media (min-width: 1400px) {
        margin:0 30%;
      }
      
      p {
          margin-top: 4%;
          margin-right: 4px;
          height: 100%;
          width: 60%;
          font-family: $startSeiteFont;
          font-size: 1.8vw;
          font-weight: 400;
  
          /* Small Screen */
          @media (min-width: 768px) {
            font-size: 1.5vw;
          }
          /* Medium Screen */
          @media (min-width: 992px) {
            font-size: 1.1vw;
          }
          /* Large Screen */
          @media (min-width: 1200px) {
            font-size: 0.7vw;
          }
      }
      .logo {
          width: 90%;
      }
  
    }
    .kausaSponsers .logo {
      width: 90%;
    }

    & > p {
      font-family: $startSeiteFont;
      text-align: center;
      margin: 1% 2%;
    }
  }


}

#impressum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $startSeiteFont;
    margin: 1% 10%;
    height: auto;

    /* Small Screen */
    @media (min-width: 768px) {
      margin: 1% 17%;
    }
    /* Medium Screen */
    @media (min-width: 992px) {
      margin: 1% 19%;
    }
    /* Large Screen */
    @media (min-width: 1200px) {
      margin: 1% 30%;
    }

    .impressum__titel {
      font-size: 5vw;
         /* Small Screen */
         @media (min-width: 768px) {
          font-size: 3vw;
        }
        /* Medium Screen */
        @media (min-width: 992px) {
          font-size: 2vw;
        }
        /* Large Screen */
        @media (min-width: 1200px) {
          font-size: 1.5vw;
        }
    }

    span {
      display: block;
      font-weight:900;
      margin: 3% 0;
      text-align: center;
      font-size: 16px;
      width: 100%;
      overflow-wrap: break-word;
    }

    p {
      color: rgb(0, 0, 0);
      text-align:justify;
   }

   #impressum__shortText {
      text-align: center;
   }


  }


//hindert den User Text zu selectieren
.disable_select {
  user-select: none;
  -ms-user-select:none;
}

.normalLink {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: black;
  }

  &:hover {
    color: rgb(194, 68, 68);
  }
}
