@import "../_font.scss";
@import "../scrollbar";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @include hideScrollBar;
  scroll-behavior: smooth;
}


#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  height: 100vh;
 
  #headLine{
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-family: $startSeiteFont;
    width: 40%;
    text-align: center;
  }


  #ueberProjekt {
    font-family: $startSeiteFont;
    font-size: 1vw;
    width: 35%;
    text-align: center;
  }

  #navigation {
    display: flex;
    margin-bottom: 10%;

    a {
      border: 1.7px solid $szeneTextFontColor;
      border-radius: 7px;
      text-decoration: none;
      margin: 0 20px;
      transition: .4s;

      &:active {
        color: inherit;
      }
      &:hover {
        transition: 0.2s ease-in;
        background-color: rgb(245, 195, 195);
      }
      
      div {
        position: relative;
        display: flex;
        margin: 1px 20px;
        gap: 2px;
        
        span {
          font-family: $startSeiteFont;
          color: $szeneTextFontColor;
        }
      }
    }
  }

  #teilnehmer {
      display: flex;
      justify-content: space-between;
      width: 40%;
    
      font-family: $startSeiteFont;
      font-size: 0.7vw;
    
      @media ( max-width: 1280px ) {
        margin-bottom: -2%;   
      }

      .listStyleNone {
        list-style: none;
        font-size: 1vw;
      }
  }

  #linie {
    background-color: black;
    height: 1px;
    width: 55%;
    display: block;
    
    @media ( max-width: 1280px ) {
      margin-bottom: -13%;   
    }
  }

  #unterstuetztVon {
    // margin-top: 13%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 40%;

    @media ( max-width: 1280px ) {
      margin-top: 10%;
    }

    p {
        margin-top: 4%;
        height: 100%;
        width: 60%;
        font-family: $startSeiteFont;
        font-size: 0.6vw;
        font-weight: 600;
    }

    .logo {

        width: 100%;
        padding: 0px;
        
    }
  }

}

#impressum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $startSeiteFont;
    margin: 1% 30%;
    height: auto;
    .impressum__titel {
      font-size: 1.5em;
    }

    span {
      display: block;
      font-weight:900;
      margin: 1% 0;
      text-align: center;
    }

    p {
      color: rgb(0, 0, 0);
      text-align:justify;
   }

   #impressum__shortText {
      text-align: center;
   }


    @media ( max-width: 1280px ) {
      font-size: 1em;   
    }
  }


//hindert den User Text zu selectieren
.disable_select {
  user-select: none;
  -ms-user-select:none;
}

.normalLink {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: black;
  }

  &:hover {
    color: rgb(194, 68, 68);
  }
}
