@import "../_font.scss";
@import "../scrollbar";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @include hideScrollBar;
  scroll-behavior: smooth;
}


#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  // background-color: red;

  border-bottom: black solid 2px;
 
  #headLine{
    color: rgb(0, 0, 0);
    font-size: 5.3vw;
    font-family: $startSeiteFont;
    margin-top: 2%;
    width: 40%;
    text-align: center;
  }

  .normalLink {
    text-decoration: none;
    color: inherit;
    &:visited {
      color: black;
    }

    &:hover {
      color: rgb(194, 68, 68);
    }
  }

  #ueberProjekt {
    font-family: $startSeiteFont;
    font-size: 1vw;
    width: 70%;
    text-align: center;

    #linkToStoryMap {
    text-decoration: none;
    font-weight: bolder;
    
    &:hover {
      animation: startBtHover 1s ease-in forwards;
      border-radius: 10px;
    }

    &:visited {
      color: black;
    }

    @keyframes startBtHover {
       0% {
         
       }
      100% {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        width: 7%;
      }
    }
    }
  }

  #teilnehmer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start ;
      
      width: 40%;
      margin-top: 6%;
    
      font-family: $startSeiteFont;
      font-size: 0.7vw;

      .listStyleNone {
        list-style: none;
        font-size: 1vw;
      }
  }

  #unterstuetztVon {
    margin-top: 13%;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 40%;

    @media ( max-width: 1280px ) {
      margin-top: 10%;
  }

    p {
        margin-top: 4%;
        height: 100%;
        width: 60%;
        font-family: $startSeiteFont;
        font-size: 0.6vw;
        font-weight: 600;
    }

    .logo {

        width: 100%;
        padding: 0px;
        
    }
  }
}

//hindert den User Text zu selectieren
.disable_select {
  user-select: none;
  -ms-user-select:none;
}

