@import "../_font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  background-color: black;

 
  #headLine{
    color: white;
    font-size: 6vw;
    font-family: $startSeiteFont;
    margin-bottom: 2%;
  }

  #karte {
    width: 50%;
  }

  #startBt {
    margin-top: 2%;
    font-size: 1.7vw;
    color: white;
    font-family: $startSeiteFont;
    font-weight:600;
    text-decoration: none;

    &:hover {
      animation: startBtHover 1s ease-in forwards;
      border-radius: 10px;
    }

    @keyframes startBtHover {
       0% {
         
       }
      100% {
        color: black;
        background-color: white;
      }
    }


  }

  #text {
    color: white;
    font-family:  $startSeiteFont;
    font-size: 0.9vw;
    width: 45%;
    margin-bottom: 1%;
    text-align: center;
  }
}

//hindert den User Text zu selectieren
.disable_select {
  user-select: none;
  -ms-user-select:none;
}

