@import "../_font.scss";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-color: $szeneBackgroundColor;

 #main__linkToImpressum{
    align-self: flex-end;
    margin-right: 9%;
    margin-top: 1%;
   img {
     width: 1.7vw;
   }
 }

  #headLine{
    color: $szeneTextFontColor;
    font-size: 3.5vw;
    font-family: $startSeiteFont;
  }

  #text {
    color: $szeneTextFontColor;
    font-family:  $startSeiteFont;
    font-size: 0.9vw;
    width: 45%;
    text-align:center;
  }

  #navigation {
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
    width: 25%;

    a {
      display: flex;
      justify-content: space-around;
      font-family: $startSeiteFont;
      color: $szeneTextFontColor;
      text-decoration: none;
      overflow: hidden;
      border: 1.7px solid $szeneTextFontColor;
      border-radius: 7px;
      width: 35%;
      @media (max-width: 1280px) {
        width: 45%;         
      }

      &:active {
        color: inherit;
      }
      &:hover {
        transition: 0.5s ease-in;
        background-color: white;
      }
      
      span {
        display: block;
        font-size: inherit;
        padding-left: 10%;

        @media (max-width: 1280px) {
          font-size: 80%;
          font-size: 74%;         
        }
      }

      img {
        @media (max-width: 1280px) {
          width: 15%;         
        } 
      }
    }
  }

  #karte {
    width: 50%;
  }

  
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 600ms ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(153, 153, 153);

  border-radius: 10px;
  overflow: hidden;
  z-index: 10;

  #modal__text {
    padding: 10px 10px;
    font-family: $startSeiteFont;
    color: white;
    
    font-size: 1.2em;
  }

  #modal__btn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: white;

    font-weight: bolder;
    font-size: 1em;
    padding-bottom: 1%;
    transition: .2s ease-in;

    &:hover {
     color: black;
    }
  }

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
}


#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .8);
  pointer-events: none;

  transition: 200ms ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

}
//hindert den User Text zu selectieren
.disable_select {
  user-select: none;
  -ms-user-select:none;
}

