@import "../_font.scss";

html {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.background {
    img {
        top: 25%;
        left: 25%;
        width: 50%;
        position: fixed;
        z-index: 0;
        
        
    }
}


