@import "../_font.scss";
@import "../scrollbar";
@import "../navigationStyle";


// MediaQuery der Szene bei 1280x600
@mixin mediaQueryByLabtop {
    @media ( max-width: 1280px ) {
        top: 20%;
    }
} 


html {
    background-color: $szeneBackgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 300vh;
    
    @include scrollBarStyle;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #navigation {
        display: flex;
        justify-content:space-between;
        position: fixed;

        // TODO -> Die Hintergrund-frabe muss entfernt werden, nachdem die Hintergrundfarbe der Seite geändert werden
        background-color: $szeneBackgroundColor;

        width: $width;
        height: auto;
        align-self: flex-end;
        margin-right: $marginRight;
        margin-top: $marginTop;

        @media ( max-width: 1280px ) {
            width: 26%;
            margin-right: 3%;
            margin-top: 3%;
        }
        
        #linkToFirstPage {
            font-size: 1.2em;
            width: auto;

            text-decoration: none;
            color: inherit;
            font-family: $kartenAnsichtFont;
            margin-top: 1%;

            &:active {
                color: inherit;
            }

            @media ( max-width: 1280px ) {
                font-size: 1em;
            }
        }
        
        img {
            width: 100%;

        @media ( max-width: 1280px ) {
            width: 70%;
            }
        }
    }

    #background {
        top: 20%;
        left: 20%;
        width: 60%;
        position: fixed;
        z-index: 0;
        @include mediaQueryByLabtop;        
    }
    

    #text {
        display:none;
        color: szeneTextFontColor;
        position: fixed;
        font-size: $szeneTextFontSize;
        top: 11%;
        width: 50%;
        font-family: $szeneTextFont;

        @media ( max-width: 1280px ) {
            font-size: $szeneTextFontSize + 0.1 ;
            top: 10%;
            
        }

        /* Landscape phones and down */
        @media (max-width: 480px) { 
            top: 21%;
        }

        /* Landscape phone to portrait tablet */
        @media (max-width: 640px) { 
            top: 23%;
        }

        @media (max-width: 731px) { 
            top: 21%;
        }

        @media (max-width: 800px) { 
            top: 19%;
        }

        @media (max-width: 1200px) { 
            top: 19%;
        }

        a {
          text-decoration: none;
          color: inherit;  
        }
        a:visited {
            text-decoration: none;
            color: inherit;
            color: burlywood;
        }
        a:hover {
            color: rgb(211, 83, 44);  
          }
    }

    #timeBar {
        background-color: rgba(116, 116, 116, 0.212);
        width: 6px;
        height: 55%;
        position: absolute;
        left: 15%;
        top: 24%;
        border-radius: 10px;
        position: fixed;
        overflow: hidden;

        @media ( max-width: 1441px ) {
            top: 35%;
            height: 380px;
        }
        
        @media ( max-width: 1366px ) {
            top: 29%;
            height: 400px;
        }

        @media ( max-width: 1092px ) {
            top: 33%;
            height: 300px;
        }

        @media ( max-width: 860px ) {
            top: 33%;
            height: 250px;
        }

        @media ( max-width: 1280px ) {
            top: 24%;
            height: 60%;
            
        }
     
        
        #progBar {
            width: 100%;
            height:0%;
            background-color: rgba(114, 114, 114, 0.383);
        }
    }

    @keyframes fillTimeBar {
        0% {
            height: 0;
        }

        100% {
            height: 100%;
        }
        
    }


   
}

#nextBt{
        position: fixed; 
        width: 4%;
        top:50%;
        z-index: 4;
        opacity: 0;
    }

#backBt{
    position: fixed; 
        width: 4%;
        left: 20px;
        top:50%;
        z-index: 4;
        display: none;
        opacity: 0.3;       
}

.hide{
    opacity: 0;
}

