//Font für den Text in den Szenen
$szeneTextFont: 'Old Standard TT', serif;
$szeneTextFontSize: 0.9vw;
$szeneTextFontColor: black;
$szeneBackgroundColor: #fae6c0;
$iconOppacity: 0.6;

//Font für den Text in der Startseite
@font-face {
  font-family: 'Laila';
  font-weight: 300;
  src: url('/Assets/fonts/Laila-Light.ttf');
}
@font-face {
  font-family: 'Laila';
  font-weight: 500;
  src: url('/Assets/fonts/Laila-Medium.ttf');
}
@font-face {
  font-family: 'Laila';
  font-weight: 700;
  src: url('/Assets/fonts/Laila-Bold.ttf');
}
$startSeiteFont: 'Laila', sans-serif;

//Text für Kartenansicht-Seite
@font-face {
  font-family: 'Old Standard TT';
  font-weight: 300;
  src: url('/Assets/fonts/OldStandardTT-Regular.ttf');
}
$kartenAnsichtFont: 'Old Standard TT', serif;
.disable_select {
  user-select: none;
  -ms-user-select: none;
}
