//Font für den Text in den Szenen
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$szeneTextFont:'Indie Flower', cursive;
$szeneTextFontSize : 1.2vw;


//Font für den Text in der Startseite
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;700&display=swap');
$startSeiteFont: 'Laila', sans-serif;
