@import "./_font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: black;

  min-width: 100vh;
  #headLine{
    font-size: 2vw;
    font-family: $szeneTextFont;
  }

  #karte {
    
  }

  #startBt {

  }
}

//hindert den User Text zu selectieren
.disable_select {
  user-select: none;
  -ms-user-select:none;
}

