body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: blueviolet;
}

body section {
  overflow-x: hidden;
  /*or overflow-x:scroll */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .background {
  display: none;
  height: 100vh;
  z-index: 0;
}

body section .boot {
  width: 50%;
  position: relative;
  z-index: 1;
}

body section .scroll {
  position: fixed;
  bottom: 0;
  left: 0;
}
