@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

html {
  background-color: #fae6c0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300vh;
}

html ::-webkit-scrollbar {
  width: 1px;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: #fae6c0;
  width: 21%;
  height: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 4%;
  margin-top: 4%;
}

@media (max-width: 1280px) {
  #main #navigation {
    width: 26%;
    margin-right: 3%;
    margin-top: 3%;
  }
}

#main #navigation #linkToFirstPage {
  font-size: 1.2em;
  width: auto;
  text-decoration: none;
  color: inherit;
  font-family: "Old Standard TT", serif;
}

#main #navigation #linkToFirstPage:active {
  color: inherit;
}

@media (max-width: 1280px) {
  #main #navigation #linkToFirstPage {
    font-size: 1em;
  }
}

#main #navigation img {
  width: 100%;
}

@media (max-width: 1280px) {
  #main #navigation img {
    width: 70%;
  }
}

#main #text {
  display: none;
  color: black;
  position: fixed;
  font-size: 1vw;
  top: 20%;
  width: 58%;
  font-family: "Old Standard TT", serif;
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
}

@media (max-width: 480px) {
  #main #text {
    top: 21%;
  }
}

@media (max-width: 640px) {
  #main #text {
    top: 23%;
  }
}

@media (max-width: 731px) {
  #main #text {
    top: 21%;
  }
}

@media (max-width: 800px) {
  #main #text {
    top: 19%;
  }
}

@media (max-width: 1200px) {
  #main #text {
    top: 19%;
  }
}

@media (max-width: 1280px) {
  #main #text {
    width: 58%;
    top: 18%;
    font-size: 1.2vw;
  }
}

.background img {
  top: 30%;
  left: 15%;
  width: 70%;
  position: fixed;
  z-index: 0;
}

.zugHinten img {
  top: 26%;
  left: -10%;
  width: 70%;
  position: fixed;
  z-index: 1;
}

.zugVorne img {
  top: 45%;
  left: 64%;
  width: 15%;
  position: fixed;
  z-index: 2;
}

.diallo img {
  top: 30%;
  left: 15%;
  width: 70%;
  position: fixed;
  z-index: 3;
}

.rahmen img {
  top: 15%;
  left: -55%;
  width: 70%;
  position: fixed;
  z-index: 3;
}

.rahmen2 img {
  top: 15%;
  left: 85%;
  width: 70%;
  position: fixed;
  z-index: 3;
}

#echteRahmen {
  width: 70.1%;
  top: 30%;
  left: 15%;
  position: fixed;
  z-index: 3;
}

@media (max-width: 1280px) {
  #echteRahmen {
    width: 72%;
  }
}

#timeBar {
  background-color: rgba(116, 116, 116, 0.212);
  width: 6px;
  height: 41%;
  left: 10%;
  top: 33%;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  z-index: 5;
}

@media (max-width: 1440px) {
  #timeBar {
    top: 32%;
    height: 37%;
  }
}

@media (max-width: 1366px) {
  #timeBar {
    top: 30%;
    height: 35%;
  }
}

@media (max-width: 1280px) {
  #timeBar {
    top: 33%;
    height: 46%;
  }
}

@media (max-width: 1092px) {
  #timeBar {
    top: 31%;
    height: 28%;
  }
}

@media (max-width: 860px) {
  #timeBar {
    top: 31%;
    height: 22%;
  }
}

#timeBar #progBar {
  width: 100%;
  height: 0%;
  background-color: rgba(114, 114, 114, 0.383);
}

@-webkit-keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

#soundIcon {
  width: 2%;
  position: fixed;
  left: 9.4%;
  top: 28%;
  opacity: 0.6;
  z-index: 5;
}

#scrollGif {
  position: fixed;
  width: 7%;
  top: 47%;
  left: 85%;
  z-index: 4;
  opacity: 0.6;
}

#nextBt {
  position: fixed;
  width: 4%;
  top: 50%;
  right: 20px;
  z-index: 4;
  display: none;
  opacity: 0.9;
}

#backBt {
  position: fixed;
  width: 4%;
  left: 20px;
  top: 50%;
  z-index: 4;
  display: none;
  opacity: 0.9;
}

.hide {
  opacity: 0;
}
