* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 500vh;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 1px;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html body {
  background-color: black;
}

html body .background #backgroundIMG {
  left: 10%;
  top: 25%;
  width: 100%;
  z-index: 2;
  position: fixed;
}

html body .boot #bootIMG {
  left: 0%;
  top: 25%;
  width: 80%;
  z-index: 2;
  position: fixed;
}

html body .balkenLinks img {
  left: -65%;
  top: 25%;
  width: 80%;
  z-index: 3;
  position: fixed;
}

html body .balkenRechts img {
  left: 85%;
  top: 25%;
  width: 80%;
  z-index: 3;
  position: fixed;
}

html body a img {
  position: fixed;
  width: 100px;
  top: 60%;
  z-index: 4;
  opacity: 0;
}

html body .hide {
  opacity: 0;
}
