@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 500vh;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 1px;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html body {
  background-color: black;
}

html body #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #main #zeichnungenContainer #backgroundIMG {
  left: 10%;
  top: 30%;
  width: 100%;
  z-index: 2;
  position: fixed;
}

@media (max-width: 1440px) {
  html body #main #zeichnungenContainer #backgroundIMG {
    width: 99%;
  }
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #backgroundIMG {
    top: 25%;
  }
}

html body #main #zeichnungenContainer #bootIMG {
  left: 0%;
  top: 30%;
  width: 80%;
  z-index: 2;
  position: fixed;
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #bootIMG {
    top: 25%;
  }
}

html body #main #zeichnungenContainer #balkenLinks {
  left: -65%;
  top: 30%;
  width: 80%;
  z-index: 3;
  position: fixed;
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #balkenLinks {
    top: 25%;
  }
}

html body #main #zeichnungenContainer #balkenRechts {
  left: 85%;
  top: 30%;
  width: 80%;
  z-index: 3;
  position: fixed;
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #balkenRechts {
    top: 25%;
  }
}

html body #main #zeichnungenContainer #rahmen {
  width: 70%;
  top: 30%;
  left: 15%;
  position: fixed;
  z-index: 3;
}

@media (max-width: 1440px) {
  html body #main #zeichnungenContainer #rahmen {
    width: 71%;
  }
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #rahmen {
    top: 25%;
  }
}

html body #main #text {
  display: none;
  color: white;
  position: fixed;
  font-size: 1.3vw;
  left: 35%;
  top: 16%;
  width: 30%;
  font-family: "Indie Flower", cursive;
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
}

@media (max-width: 480px) {
  html body #main #text {
    top: 21%;
  }
}

@media (max-width: 640px) {
  html body #main #text {
    top: 23%;
  }
}

@media (max-width: 731px) {
  html body #main #text {
    top: 21%;
  }
}

@media (max-width: 800px) {
  html body #main #text {
    top: 19%;
  }
}

@media (max-width: 1200px) {
  html body #main #text {
    top: 19%;
  }
}

@media (max-width: 1280px) {
  html body #main #text {
    top: 11%;
  }
}

html body #main #timeBar {
  background-color: rgba(116, 116, 116, 0.212);
  width: 6px;
  height: 45%;
  left: 12%;
  top: 33%;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  z-index: 3;
}

@media (max-width: 1440px) {
  html body #main #timeBar {
    top: 32%;
    height: 41%;
  }
}

@media (max-width: 1366px) {
  html body #main #timeBar {
    top: 31%;
    height: 41%;
  }
}

@media (max-width: 1280px) {
  html body #main #timeBar {
    height: 53%;
    top: 28%;
  }
}

@media (max-width: 1092px) {
  html body #main #timeBar {
    top: 31%;
    height: 33%;
  }
}

@media (max-width: 860px) {
  html body #main #timeBar {
    top: 31%;
    height: 25%;
  }
}

html body #main #timeBar #progBar {
  width: 100%;
  height: 0%;
  background-color: rgba(114, 114, 114, 0.383);
}

@-webkit-keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

html body #nextBt {
  position: fixed;
  width: 4%;
  top: 50%;
  z-index: 4;
  opacity: 0;
}

html body #backBt {
  position: fixed;
  width: 4%;
  left: 20px;
  top: 50%;
  z-index: 4;
  display: none;
  opacity: 0.3;
}

html body .hide {
  opacity: 0;
}
