@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 500vh;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 6px;
}

html ::-webkit-scrollbar-track {
  background: #5f5f5f;
}

html ::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 10px;
}

html body {
  background-color: #fae6c0;
}

html body #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #main #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: #fae6c0;
  width: 21%;
  height: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 5%;
  margin-top: 4%;
}

@media (max-width: 1280px) {
  html body #main #navigation {
    width: 26%;
    margin-right: 3%;
    margin-top: 3%;
  }
}

html body #main #navigation #linkToFirstPage {
  font-size: 1.2em;
  width: auto;
  text-decoration: none;
  color: inherit;
  font-family: "Old Standard TT", serif;
}

html body #main #navigation #linkToFirstPage:active {
  color: inherit;
}

@media (max-width: 1280px) {
  html body #main #navigation #linkToFirstPage {
    font-size: 1em;
  }
}

html body #main #navigation img {
  width: 100%;
}

@media (max-width: 1280px) {
  html body #main #navigation img {
    width: 70%;
  }
}

html body #main #zeichnungenContainer #backgroundIMG {
  left: 10%;
  top: 30%;
  width: 100%;
  z-index: 2;
  position: fixed;
}

@media (max-width: 1440px) {
  html body #main #zeichnungenContainer #backgroundIMG {
    width: 99%;
  }
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #backgroundIMG {
    top: 25%;
  }
}

html body #main #zeichnungenContainer #bootIMG {
  left: 0%;
  top: 30%;
  width: 80%;
  z-index: 2;
  position: fixed;
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #bootIMG {
    top: 25%;
  }
}

html body #main #zeichnungenContainer #balkenLinks {
  left: -65%;
  top: 30%;
  width: 80%;
  z-index: 3;
  position: fixed;
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #balkenLinks {
    top: 25%;
  }
}

html body #main #zeichnungenContainer #balkenRechts {
  left: 85%;
  top: 30%;
  width: 80%;
  z-index: 3;
  position: fixed;
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #balkenRechts {
    top: 25%;
  }
}

html body #main #zeichnungenContainer #rahmen {
  width: 71%;
  top: 30%;
  left: 15%;
  position: fixed;
  z-index: 3;
}

@media (max-width: 1440px) {
  html body #main #zeichnungenContainer #rahmen {
    width: 71%;
  }
}

@media (max-width: 1280px) {
  html body #main #zeichnungenContainer #rahmen {
    top: 25%;
  }
}

html body #main #text {
  display: none;
  color: szeneTextFontColor;
  position: fixed;
  font-size: 1.3vw;
  top: 17%;
  width: 55%;
  font-family: "Indie Flower", cursive;
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
}

@media (max-width: 480px) {
  html body #main #text {
    top: 21%;
  }
}

@media (max-width: 640px) {
  html body #main #text {
    top: 23%;
  }
}

@media (max-width: 731px) {
  html body #main #text {
    top: 21%;
  }
}

@media (max-width: 800px) {
  html body #main #text {
    top: 19%;
  }
}

@media (max-width: 1200px) {
  html body #main #text {
    top: 19%;
  }
}

@media (max-width: 1280px) {
  html body #main #text {
    top: 10%;
  }
}

html body #main #timeBar {
  background-color: rgba(116, 116, 116, 0.212);
  width: 6px;
  height: 45%;
  left: 12%;
  top: 33%;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  z-index: 3;
}

@media (max-width: 1440px) {
  html body #main #timeBar {
    top: 32%;
    height: 41%;
  }
}

@media (max-width: 1366px) {
  html body #main #timeBar {
    top: 31%;
    height: 41%;
  }
}

@media (max-width: 1280px) {
  html body #main #timeBar {
    height: 53%;
    top: 28%;
  }
}

@media (max-width: 1092px) {
  html body #main #timeBar {
    top: 31%;
    height: 33%;
  }
}

@media (max-width: 860px) {
  html body #main #timeBar {
    top: 31%;
    height: 25%;
  }
}

html body #main #timeBar #progBar {
  width: 100%;
  height: 0%;
  background-color: rgba(114, 114, 114, 0.383);
}

@-webkit-keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

html body #nextBt {
  position: fixed;
  width: 4%;
  top: 50%;
  z-index: 4;
  opacity: 0;
}

html body #backBt {
  position: fixed;
  width: 4%;
  left: 20px;
  top: 50%;
  z-index: 4;
  display: none;
  opacity: 0.3;
}

html body .hide {
  opacity: 0;
}
