@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
html {
  background-color: black;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300vh;
}

.background img {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 0;
}

.crowd img {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 1;
}

.soldiers img {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: -2;
}

.soldier1 img {
  top: 30%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 2;
}

.soldier2 img {
  top: 30%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 3;
}

.rahmen img {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 4;
}
