@font-face {
  font-family: "Laila";
  font-weight: 300;
  src: url("/Assets/fonts/Laila-Light.ttf");
}
@font-face {
  font-family: "Laila";
  font-weight: 500;
  src: url("/Assets/fonts/Laila-Medium.ttf");
}
@font-face {
  font-family: "Laila";
  font-weight: 700;
  src: url("/Assets/fonts/Laila-Bold.ttf");
}
@font-face {
  font-family: "Old Standard TT";
  font-weight: 300;
  src: url("/Assets/fonts/OldStandardTT-Regular.ttf");
}
.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fae6c0;
}
#main #navigation {
  position: absolute;
  width: 22%;
  height: auto;
  z-index: 1;
  margin-top: -45%;
  margin-left: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 1280px) {
  #main #navigation {
    width: 25%;
    margin-left: 65%;
  }
}
#main #navigation #linkToFirstPage {
  font-size: 1.2em;
  width: auto;
  text-decoration: none;
  color: inherit;
  font-family: "Old Standard TT", serif;
}
#main #navigation #linkToFirstPage:active {
  color: inherit;
}
@media (max-width: 1280px) {
  #main #navigation #linkToFirstPage {
    font-size: 1em;
  }
}
#main #navigation img {
  width: 100%;
}
@media (max-width: 1280px) {
  #main #navigation img {
    width: 70%;
  }
}
#main #storyMap {
  position: relative;
  z-index: 0;
}