@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  width: 1px;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
}

#main #headLine {
  color: black;
  font-size: 4vw;
  font-family: "Laila", sans-serif;
  width: 40%;
  text-align: center;
}

#main #ueberProjekt {
  font-family: "Laila", sans-serif;
  font-size: 1vw;
  width: 35%;
  text-align: center;
}

#main #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -1.5%;
  margin-bottom: 11%;
  width: 25%;
}

#main #navigation a {
  font-family: "Laila", sans-serif;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 40%;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 27px;
}

#main #navigation a:active {
  color: inherit;
}

#main #navigation a span {
  display: block;
  font-size: 1em;
  width: 100%;
}

#main #navigation a span:hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  background-color: white;
  color: black;
}

#main #teilnehmer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  font-family: "Laila", sans-serif;
  font-size: 0.7vw;
}

#main #teilnehmer .listStyleNone {
  list-style: none;
  font-size: 1vw;
}

#main #linie {
  background-color: black;
  height: 1px;
  width: 60%;
  display: block;
}

#main #unterstuetztVon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

@media (max-width: 1280px) {
  #main #unterstuetztVon {
    margin-top: 10%;
  }
}

#main #unterstuetztVon p {
  margin-top: 4%;
  height: 100%;
  width: 60%;
  font-family: "Laila", sans-serif;
  font-size: 0.6vw;
  font-weight: 600;
}

#main #unterstuetztVon .logo {
  width: 100%;
  padding: 0px;
}

#impressum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#impressum p {
  text-align: center;
  font-family: "Laila", sans-serif;
  font-size: 1.5em;
  width: 70%;
}

.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

.normalLink {
  text-decoration: none;
  color: inherit;
}

.normalLink:visited {
  color: black;
}

.normalLink:hover {
  color: #c24444;
}
