@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;700&display=swap");
.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  width: 1px;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  border-bottom: black solid 2px;
}

#main #headLine {
  color: black;
  font-size: 5.3vw;
  font-family: "Laila", sans-serif;
  margin-top: 2%;
  width: 40%;
  text-align: center;
}

#main .normalLink {
  text-decoration: none;
  color: inherit;
}

#main .normalLink:visited {
  color: black;
}

#main .normalLink:hover {
  color: #c24444;
}

#main #ueberProjekt {
  font-family: "Laila", sans-serif;
  font-size: 1vw;
  width: 70%;
  text-align: center;
}

#main #ueberProjekt #linkToStoryMap {
  text-decoration: none;
  font-weight: bolder;
}

#main #ueberProjekt #linkToStoryMap:hover {
  -webkit-animation: startBtHover 1s ease-in forwards;
          animation: startBtHover 1s ease-in forwards;
  border-radius: 10px;
}

#main #ueberProjekt #linkToStoryMap:visited {
  color: black;
}

@-webkit-keyframes startBtHover {
  0% {
  }
  100% {
    color: white;
    background-color: black;
    width: 7%;
  }
}

@keyframes startBtHover {
  0% {
  }
  100% {
    color: white;
    background-color: black;
    width: 7%;
  }
}

#main #teilnehmer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
  margin-top: 6%;
  font-family: "Laila", sans-serif;
  font-size: 0.7vw;
}

#main #teilnehmer .listStyleNone {
  list-style: none;
  font-size: 1vw;
}

#main #unterstuetztVon {
  margin-top: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

@media (max-width: 1280px) {
  #main #unterstuetztVon {
    margin-top: 10%;
  }
}

#main #unterstuetztVon p {
  margin-top: 4%;
  height: 100%;
  width: 60%;
  font-family: "Laila", sans-serif;
  font-size: 0.6vw;
  font-weight: 600;
}

#main #unterstuetztVon .logo {
  width: 100%;
  padding: 0px;
}

.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}
