@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
html {
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300vh;
}

html ::-webkit-scrollbar {
  width: 1px;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #text {
  display: none;
  color: white;
  position: fixed;
  font-size: 1.2vw;
  top: 11%;
  width: 47%;
  font-family: "Indie Flower", cursive;
}

@media (max-width: 1280px) {
  #main #text {
    top: 9.5%;
    font-size: 1.21vw;
  }
}

.background img {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 0;
}

@media (max-width: 1280px) {
  .background img {
    top: 20%;
  }
}

.background2 img {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 3;
}

@media (max-width: 1280px) {
  .background2 img {
    top: 20%;
  }
}

.farbe img {
  top: 20%;
  left: -1%;
  width: 60%;
  position: fixed;
  z-index: 2;
}

@media (max-width: 1280px) {
  .farbe img {
    top: 20%;
  }
}

.diallo img {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 3;
}

@media (max-width: 1280px) {
  .diallo img {
    top: 20%;
  }
}

.balken img {
  top: 20%;
  left: -50%;
  width: 70%;
  position: fixed;
  z-index: 4;
}

@media (max-width: 1280px) {
  .balken img {
    top: 20%;
  }
}

#rahmen {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 3;
}

@media (max-width: 1280px) {
  #rahmen {
    top: 20%;
  }
}

#timeBar {
  background-color: rgba(116, 116, 116, 0.212);
  width: 6px;
  height: 56%;
  left: 15%;
  top: 24%;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  z-index: 4;
}

@media (max-width: 1440px) {
  #timeBar {
    top: 31%;
    height: 52%;
  }
}

@media (max-width: 1280px) {
  #timeBar {
    height: 60%;
    top: 24%;
  }
}

@media (max-width: 1024px) {
  #timeBar {
    top: 31%;
    height: 38%;
  }
}

@media (max-width: 768px) {
  #timeBar {
    top: 31%;
    height: 25%;
  }
}

#timeBar #progBar {
  width: 100%;
  height: 0%;
  background-color: rgba(114, 114, 114, 0.383);
}

@-webkit-keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

#nextBt {
  position: fixed;
  width: 4%;
  top: 50%;
  z-index: 4;
  opacity: 0;
}

#backBt {
  position: fixed;
  width: 4%;
  left: 20px;
  top: 50%;
  z-index: 4;
  display: none;
  opacity: 0.3;
}

.hide {
  opacity: 0;
}
