@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

html ::-webkit-scrollbar {
  width: 1px;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #zeichnungenContainer #background {
  top: 30%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 0;
}

#main #zeichnungenContainer #background2 {
  top: 30%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 3;
}

#main #zeichnungenContainer #farbe {
  top: 30%;
  left: -1%;
  width: 60%;
  position: fixed;
  z-index: 2;
}

#main #zeichnungenContainer #diallo {
  top: 30%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 3;
}

#main #zeichnungenContainer #balken {
  top: 20%;
  left: -50%;
  width: 70%;
  position: absolute;
  z-index: 5;
}

#main #zeichnungenContainer #rahmen {
  top: 30%;
  left: 20%;
  width: 60.1%;
  position: fixed;
  z-index: 4;
}

a img {
  position: fixed;
  width: 6%;
  top: 50%;
  z-index: 5;
  opacity: 0;
}

.hide {
  opacity: 0;
}
