@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #fae6c0;
}

#main #main__linkToImpressum {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 9%;
  margin-top: 1%;
}

#main #main__linkToImpressum img {
  width: 1.7vw;
}

#main #headLine {
  color: black;
  font-size: 3.5vw;
  font-weight: 400;
  font-family: "Laila", sans-serif;
}

#main #text {
  color: black;
  font-family: "Laila", sans-serif;
  font-size: 1.1rem;
  width: 45%;
  text-align: center;
  font-weight: 300;
}

#main #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0;
}

#main #navigation a {
  border: 1.7px solid black;
  border-radius: 7px;
  text-decoration: none;
  margin: 0 20px;
}

#main #navigation a:active {
  color: inherit;
}

#main #navigation a:hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  background-color: white;
}

#main #navigation a div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px 20px;
  gap: 2px;
}

#main #navigation a div span {
  font-family: "Laila", sans-serif;
  color: black;
}

#main #karte {
  width: 50%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #999999;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
}

.modal #modal__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 25px;
  font-family: "Laila", sans-serif;
  color: white;
  font-size: 1.2em;
}

.modal #modal__text p {
  text-align: center;
}

.modal #modal__btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 1em;
  padding-bottom: 1%;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.modal #modal__btn:hover {
  color: black;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}
