@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #fae6c0;
}

#main #headLine {
  color: black;
  font-size: 3.5vw;
  font-family: "Laila", sans-serif;
}

#main #text {
  color: black;
  font-family: "Laila", sans-serif;
  font-size: 0.9vw;
  width: 45%;
  text-align: center;
}

#main #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3% 0;
  width: 25%;
}

#main #navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Laila", sans-serif;
  color: black;
  text-decoration: none;
  overflow: hidden;
  border: 1.7px solid black;
  border-radius: 7px;
  width: 35%;
}

@media (max-width: 1280px) {
  #main #navigation a {
    width: 45%;
  }
}

#main #navigation a:active {
  color: inherit;
}

#main #navigation a:hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  background-color: white;
}

#main #navigation a span {
  display: block;
  font-size: inherit;
  padding-left: 10%;
}

@media (max-width: 1280px) {
  #main #navigation a span {
    font-size: 80%;
    font-size: 74%;
  }
}

@media (max-width: 1280px) {
  #main #navigation a img {
    width: 15%;
  }
}

#main #karte {
  width: 50%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #999999;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
}

.modal #modal__text {
  padding: 10px 10px;
  font-family: "Laila", sans-serif;
  color: white;
  font-size: 1.2em;
}

.modal #modal__btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 1em;
  padding-bottom: 1%;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.modal #modal__btn:hover {
  color: black;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}
