@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

html {
  background-color: #fae6c0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300vh;
}

html ::-webkit-scrollbar {
  width: 9px;
}

html ::-webkit-scrollbar-track {
  background: #494646;
}

html ::-webkit-scrollbar-thumb {
  background: #756c6c;
  border-radius: 10px;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: #fae6c0;
  width: 21%;
  height: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 5%;
  margin-top: 4%;
}

@media (max-width: 1280px) {
  #main #navigation {
    width: 26%;
    margin-right: 3%;
    margin-top: 3%;
  }
}

#main #navigation #linkToFirstPage {
  font-size: 1.2em;
  width: auto;
  text-decoration: none;
  color: inherit;
  font-family: "Old Standard TT", serif;
  margin-top: 1%;
}

#main #navigation #linkToFirstPage:active {
  color: inherit;
}

@media (max-width: 1280px) {
  #main #navigation #linkToFirstPage {
    font-size: 1em;
  }
}

#main #navigation img {
  width: 100%;
}

@media (max-width: 1280px) {
  #main #navigation img {
    width: 70%;
  }
}

#main #zeichnungenContainer #background {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 0;
}

@media (max-width: 1280px) {
  #main #zeichnungenContainer #background {
    top: 20%;
  }
}

#main #zeichnungenContainer #diallo {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 1;
}

@media (max-width: 1280px) {
  #main #zeichnungenContainer #diallo {
    top: 20%;
  }
}

#main #zeichnungenContainer #eltern {
  top: 20%;
  left: 20%;
  width: 60%;
  position: fixed;
  z-index: 2;
}

@media (max-width: 1280px) {
  #main #zeichnungenContainer #eltern {
    top: 20%;
  }
}

#main #zeichnungenContainer #rahmen {
  top: 20%;
  left: 10%;
  width: 60%;
  position: fixed;
  z-index: 3;
}

@media (max-width: 1280px) {
  #main #zeichnungenContainer #rahmen {
    top: 20%;
  }
}

#main #zeichnungenContainer #rahmen2 {
  top: 20%;
  left: 20%;
  width: 60.1%;
  position: fixed;
  z-index: 3;
  overflow: hidden;
}

@media (max-width: 1280px) {
  #main #zeichnungenContainer #rahmen2 {
    top: 20%;
  }
}

#main #text {
  display: none;
  color: szeneTextFontColor;
  position: fixed;
  font-size: 0.9vw;
  width: 47%;
  font-family: "Indie Flower", cursive;
  top: 8%;
  /* Landscape phones and down */
  /* Landscape phone to portrait tablet */
}

@media (max-width: 480px) {
  #main #text {
    top: 21%;
  }
}

@media (max-width: 640px) {
  #main #text {
    top: 23%;
  }
}

@media (max-width: 731px) {
  #main #text {
    top: 21%;
  }
}

@media (max-width: 800px) {
  #main #text {
    top: 19%;
  }
}

@media (max-width: 1280px) {
  #main #text {
    top: 7%;
  }
}

#main #timeBar {
  background-color: rgba(116, 116, 116, 0.212);
  width: 6px;
  height: 57%;
  left: 15%;
  top: 24%;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  z-index: 4;
}

@media (max-width: 1440px) {
  #main #timeBar {
    top: 33%;
    height: 48%;
  }
}

@media (max-width: 1280px) {
  #main #timeBar {
    height: 60%;
    top: 24%;
  }
}

@media (max-width: 1024px) {
  #main #timeBar {
    top: 32%;
    height: 36%;
  }
}

@media (max-width: 768px) {
  #main #timeBar {
    top: 31%;
    height: 27%;
  }
}

#main #timeBar #progBar {
  width: 100%;
  height: 0%;
  background-color: rgba(114, 114, 114, 0.383);
}

@-webkit-keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

#soundIcon {
  width: 2%;
  position: fixed;
  left: 14.4%;
  top: 19%;
  opacity: 0.6;
}

#scrollGif {
  position: fixed;
  width: 7%;
  top: 47%;
  left: 85%;
  z-index: 4;
  opacity: 0.9;
}

#nextBt {
  position: fixed;
  width: 4%;
  top: 50%;
  right: 20px;
  z-index: 4;
  display: none;
  opacity: 0.9;
}

#backBt {
  position: fixed;
  width: 4%;
  left: 20px;
  top: 50%;
  z-index: 4;
  display: none;
  opacity: 0.9;
}

.hide {
  opacity: 0;
}
