@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
html {
  background-color: black;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300vh;
}

html ::-webkit-scrollbar {
  width: 1px;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

html ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #background {
  top: 30%;
  left: 25%;
  width: 50%;
  position: fixed;
  z-index: 0;
}

#container #rahmen {
  top: 30%;
  left: 25%;
  width: 50.1%;
  position: fixed;
  z-index: 3;
}

#container #text {
  display: none;
  color: white;
  position: fixed;
  font-size: 1vw;
  top: 22%;
  width: 37%;
  font-family: 'Caveat Brush', cursive;
}

#container #timeBar {
  background-color: rgba(116, 116, 116, 0.212);
  width: 6px;
  height: 500px;
  left: 15%;
  top: 34%;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  z-index: 4;
}

#container #timeBar #progBar {
  width: 100%;
  height: 0%;
  background-color: rgba(114, 114, 114, 0.383);
}

@-webkit-keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

#nextBt {
  position: fixed;
  width: 4%;
  top: 50%;
  z-index: 4;
  opacity: 0;
}

#backBt {
  position: fixed;
  width: 4%;
  left: 20px;
  top: 50%;
  z-index: 4;
  display: none;
  opacity: 0.3;
}

.hide {
  opacity: 0;
}
