@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
.disable_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -ms-user-select: none;
}

html {
  background-color: #fae6c0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300vh;
}

html ::-webkit-scrollbar {
  width: 9px;
}

html ::-webkit-scrollbar-track {
  background: #494646;
}

html ::-webkit-scrollbar-thumb {
  background: #756c6c;
  border-radius: 10px;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: #fae6c0;
  width: 21%;
  height: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 5%;
  margin-top: 4%;
}

@media (max-width: 1280px) {
  #container #navigation {
    width: 26%;
    margin-right: 3%;
    margin-top: 3%;
  }
}

#container #navigation #linkToFirstPage {
  font-size: 1.2em;
  width: auto;
  text-decoration: none;
  color: inherit;
  font-family: "Old Standard TT", serif;
  margin-top: 1%;
}

#container #navigation #linkToFirstPage:active {
  color: inherit;
}

@media (max-width: 1280px) {
  #container #navigation #linkToFirstPage {
    font-size: 1em;
  }
}

#container #navigation img {
  width: 100%;
}

@media (max-width: 1280px) {
  #container #navigation img {
    width: 70%;
  }
}

#container #background {
  top: 30%;
  left: 25%;
  width: 50%;
  position: fixed;
  z-index: 0;
}

@media (max-width: 1280px) {
  #container #background {
    top: 24%;
  }
}

#container #rahmen {
  top: 30%;
  left: 25%;
  width: 50.1%;
  position: fixed;
  z-index: 3;
}

@media (max-width: 1280px) {
  #container #rahmen {
    top: 24%;
  }
}

#container #text {
  display: none;
  color: black;
  position: fixed;
  font-size: 1.3vw;
  top: 19%;
  width: 37%;
  font-family: "Indie Flower", cursive;
}

@media (max-width: 1280px) {
  #container #text {
    top: 13%;
  }
}

#container #timeBar {
  background-color: rgba(116, 116, 116, 0.212);
  width: 6px;
  height: 49%;
  left: 18%;
  top: 34%;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  z-index: 4;
}

@media (max-width: 1440px) {
  #container #timeBar {
    top: 32%;
    height: 42%;
  }
}

@media (max-width: 1280px) {
  #container #timeBar {
    height: 50%;
    top: 31%;
  }
}

@media (max-width: 1024px) {
  #container #timeBar {
    top: 31%;
    height: 30%;
  }
}

@media (max-width: 768px) {
  #container #timeBar {
    top: 32%;
    height: 22%;
  }
}

#container #timeBar #progBar {
  width: 100%;
  height: 0%;
  background-color: rgba(114, 114, 114, 0.383);
}

@-webkit-keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fillTimeBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

#soundIcon {
  width: 2%;
  position: fixed;
  left: 17.4%;
  top: 29%;
  opacity: 0.6;
}

#nextBt {
  position: fixed;
  width: 4%;
  top: 50%;
  right: 20px;
  z-index: 4;
  display: none;
  opacity: 0.9;
}

#backBt {
  position: fixed;
  width: 4%;
  left: 20px;
  top: 50%;
  z-index: 4;
  display: none;
  opacity: 0.9;
}

.hide {
  opacity: 0;
}
